@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
/* All Shared Styles */
    .display-flex{
      display: flex;
    }

  main{
      max-width: 1440px;
      margin: o auto;
    }

    main > section{
      margin-top: 130px;
    }

/* dark 02 */
.text-gray{
  color:#424242 ;
}

/* dark 03 */
.text-light-gray{
  color: #727272;
}

.text-orange{
  color: #ff900E;
}

.bg-light{
  background-color:rgba(255, 144, 14, 0.1);

}

/* Header Styles */

/* Navbar styles */
.brand-name{
  font-weight: 700;
  font-size: 2.8rem;       /* 16 px = 1 rem */
}
.navbar {
      justify-content: space-between;
      align-items: center;
}
.nav-items{
  list-style: none;
  gap: 40px;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;

}
.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-image{
    width: 100%;
}

.btn-primary{
  background-color: #ff900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
/* Main related Styles */

.teams{
 align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  max-width: 530px;
  margin-left: 130px;
}
.Feature-title{
  font-size: 2.8rem;
  font-weight: 700;
}

#quick-list{
font-weight: 500;
}
/* Fact related styles */
.Fact-title {
  font-size: 2.8rem;
  font-weight: 700;
}

/* Footer Styles */
 .footer-para{
  max-width: 1440px;
  width: 45%;
  margin: 0 auto;
  padding: 30px 250px;
  font-size: 1.28rem;
  font-weight: 400;
  text-align: center;
  border-radius: 8px;
 }
 

/* Responsive Media Query for small device*/
@media screen and (max-width:576px) {
  .navbar,.nav-link,.teams{
    flex-direction: column;

  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
    max-width: 100%;
    margin-left: 20px;
  }

   
}

/* Responsive Media Query for Medium device */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 20px auto;
  }

    
}