@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
/* All Shared Styles */
    .display-flex{
      display: flex;
    }

  main{
      max-width: 1440px;
      margin: 0 auto;
    }

    main > section{
      margin-top: 130px;
    }

/* dark 02 */
.text-gray{
  color:#424242 ;
}

/* dark 03 */
.text-light-gray{
  color: #727272;
}

.text-orange{
  color: #ff900E;
}

.bg-light{
  background-color:rgba(255, 144, 14, 0.1);

}

/* Header Styles */

/* Navbar styles */
.brand-name{
  font-weight: 700;
  font-size: 2.8rem;       /* 16 px = 1 rem */
}
.navbar {
      justify-content: space-between;
      align-items: center;
}
.nav-items{
  list-style: none;
  gap: 40px;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;

}
.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-image{
    width: 100%;
}

.btn-primary{
  background-color: #ff900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
/* Main related Styles */

.teams{
 align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-left: 300px;
}
/* Feature Related Styles */
.our-features{
  max-width: 530px;
  margin-left: 130px;
}
.feature-title{
  font-size: 2.8rem;
  font-weight: 700;
}

.feature-description{

}

#quick-list{
font-weight: 500;
}
/* Fact related styles */
.fact-title {
  font-size: 2.8rem;
  font-weight: 700;
  /* padding-left: 240px; */
}
.fact-description{
  /* padding-bottom: 40px; */
  /* max-width: 1920px; */
  height: 52px;
  line-height: 25px;
  font-size: 1rem;
  font-weight: 400;
}
.facts-container {
 display: grid;
 grid-template-columns: repeat(4,1fr);
 padding-top: 80px;
 padding-bottom: 120px;
 /* margin: auto 290px; */
 gap: 124px;
 
}
.fact-card{
  border: 1px solid #ff900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  gap: 124px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

#fact-description{
  max-width: 540px;
}
/* Sponspor Related Styles */
.sponspors-container{
   
}
.sponsors-title{
    max-width: 325px;
    color: #131313;
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 24px;
}
.sponsors-info{
   max-width: 540px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 50px auto;
  padding-bottom: 60px;
}
.sponsors-icons{
display: grid;
grid-template-columns: repeat(5,1fr);
gap: 155px;
justify-content: center;
align-items: center;
/* max-width: 1440px; */
margin-right: 240px;
margin-left:240px ;
filter: grayscale();
padding-bottom: 130px;
}

/* Footer Related Styles */
 .footer{
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  border-radius: 8px;
 }
 
 .footer-des{
  width: 1500px;
  text-align: center;
  font-size: 1.28rem;
  font-weight: 400;
  padding: 38px 410px;
 } 

/* Responsive Media Query for small device*/
@media screen and (max-width:576px) {
  .navbar,.nav-link,.teams{
    flex-direction: column;

  }
  .team-img-container,.facts-container,.sponsors-icons{
    grid-template-columns: repeat(1, 1fr);
  }
  .fact-container, .sponsors-icons{
    justify-content: center;
    gap:24px;
  }
    
  .our-features{
    max-width: 100%;
    margin-left: 20px;
  }

   
}

/* Responsive Media Query for Medium device */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 20px auto;
  }
  .sponsors-icons,.facts-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
    
}